.card-card {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: 36px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("https://images.unsplash.com/photo-1551739440-5dd934d3a94a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE5fHxjb21wdXRlcnxlbnwwfHx8fDE2NTAwOTA5MDk&ixlib=rb-1.2.1&w=1500");
}
.card-info {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-scheme-white);
}
.card-text {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.card-text1 {
  line-height: 1.5;
}
.card-root-class-name {
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1491975474562-1f4e30bc9468?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDY2fHxjb21wdXRlcnxlbnwwfHx8fDE2NTAwOTA5MjQ&ixlib=rb-1.2.1&w=1200");
}
.card-root-class-name1 {
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1507206130118-b5907f817163?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDkxfHx3b3JrfGVufDB8fHx8MTY1MDE4NTUzNw&ixlib=rb-1.2.1&w=1200');
}


.card-root-class-name4 {
  background-size: cover;
  background-image: db12816f-507e-4a57-a35e-96b5daef957b;
}
.card-root-class-name5 {
  background-size: cover;
  background-image: 6af9eb12-78c1-4b29-a6db-7649c8ba36d6;
}

.card-root-class-name7 {
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1491975474562-1f4e30bc9468?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDY2fHxjb21wdXRlcnxlbnwwfHx8fDE2NTAwOTA5MjQ&ixlib=rb-1.2.1&w=1200");
}
.card-root-class-name8 {
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1507206130118-b5907f817163?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDkxfHx3b3JrfGVufDB8fHx8MTY1MDE4NTUzNw&ixlib=rb-1.2.1&w=1200');
}
@media(max-width: 767px) {
  .card-card {
    width: 100%;
  }
  .card-root-class-name {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name3 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name4 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name5 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name6 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name7 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name8 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .card-root-class-name1 {
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1599420186946-7b6fb4e297f0?ixid=Mnw5MTMyMXwxfDF8YWxsfDE3Nnx8fHx8fDJ8fDE2NTAxODMyODE&ixlib=rb-1.2.1&w=1200");
  }
  .card-root-class-name8 {
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1599420186946-7b6fb4e297f0?ixid=Mnw5MTMyMXwxfDF8YWxsfDE3Nnx8fHx8fDJ8fDE2NTAxODMyODE&ixlib=rb-1.2.1&w=1200");
  }
}

.home1-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home1-max-width {
  padding-top: 20px;
}
.home1-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home1-text01 {
  color: var(--dl-color-scheme-orange100);
}
.home1-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home1-text03 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home1-navlink {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home1-navlink1 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home1-navlink2 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home1-navlink3 {
  text-decoration: none;
}
.home1-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.home1-hero {
  width: 100%;
  height: 774px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(113.8deg, rgba(255, 76, 92, 0.8) 7.5%, rgba(255, 177, 70, 0.8) 94.47%),url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIzfHx3b3JrJTIwbGFwdG9wfGVufDB8fHx8MTYyNjE3NjkzMA&ixlib=rb-1.2.1&w=1500');
}
.home1-text06 {
  color: var(--dl-color-scheme-white);
  font-size: 3rem;
}
.home1-text07 {
  color: var(--dl-color-scheme-white);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home1-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home1-navlink4 {
  font-size: 0.75rem;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.home1-navlink4:hover {
  transform: scale(1.02);
}
.home1-navlink5 {
  color: var(--dl-color-scheme-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-scheme-white);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}
.home1-navlink5:hover {
  transform: scale(1.02);
}
.home1-section {
  background-color: rgba(255, 199, 139, 0.14);
}
.home1-max-width1 {
  align-items: stretch;
}
.home1-content {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home1-text13 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text14 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home1-text15 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.home1-text16 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home1-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home1-navlink6 {
  text-decoration: none;
}
.home1-hero-image {
  width: 584px;
  height: 730px;
  object-fit: contain;
  margin-right: 0px;
  border-radius: 48px;
}
.home1-section1 {
  background-color: var(--dl-color-scheme-green100);
}
.home1-max-width2 {
  align-items: stretch;
}
.home1-image1 {
  width: 50%;
}
.home1-hero-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 48px;
}
.home1-content1 {
  width: 40%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home1-text17 {
  color: var(--dl-color-scheme-white);
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text18 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: var(--dl-space-space-twounits);
}
.home1-step {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home1-number {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.home1-text19 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.home1-container02 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-title {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home1-text20 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.home1-step1 {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home1-number1 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.home1-text21 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.home1-container03 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-title1 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home1-text22 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.home1-step2 {
  display: flex;
  flex-direction: row;
}
.home1-number2 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.home1-text23 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.home1-container04 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-title2 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home1-text24 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.home1-max-width3 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home1-text25 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home1-text26 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home1-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home1-section3 {
  padding-top: 0px;
}
.home1-max-width4 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home1-f-a-q {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-eightunits);
  flex-direction: row;
  justify-content: space-between;
}
.home1-questions {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-text27 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text28 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home1-text29 {
  font-family: Urbanist;
}
.home1-text31 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.home1-trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home1-text32 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.home1-icon02 {
  width: 12px;
  height: 12px;
}
.home1-text33 {
  margin-top: 8px;
}
.home1-trigger1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home1-text34 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.home1-icon04 {
  width: 12px;
  height: 12px;
}
.home1-text35 {
  margin-top: 8px;
}
.home1-trigger2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home1-text36 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.home1-icon06 {
  width: 12px;
  height: 12px;
}
.home1-text37 {
  margin-top: 8px;
}
.home1-trigger3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home1-text38 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.home1-icon08 {
  width: 12px;
  height: 12px;
}
.home1-text39 {
  margin-top: 8px;
}
.home1-image2 {
  width: 50%;
  object-fit: cover;
  margin-right: -200px;
}
.home1-banner {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%2011-1200w.png");
}
.home1-text40 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home1-text41 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home1-text45 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home1-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home1-link {
  font-size: 16px;
  padding-top: 12px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  text-decoration: none;
}
.home1-link01 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  text-decoration: none;
}
.home1-section4 {
  height: 1094px;
}
.home1-max-width5 {
  align-items: stretch;
}
.home1-hero-image2 {
  width: 668px;
  height: 725px;
  object-fit: contain;
  margin-left: 0px;
  border-radius: 80px;
}
.home1-content2 {
  width: 50%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home1-text49 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text50 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home1-text51 {
  font-family: Urbanist;
}
.home1-text52 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home1-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home1-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home1-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home1-container06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home1-text53 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home1-text54 {
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text55 {
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text56 {
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text57 {
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text59 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home1-link02 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home1-link03 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home1-text60 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home1-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home1-text61 {
  margin-bottom: var(--dl-space-space-unit);
}
.home1-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home1-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home1-link07 {
  text-decoration: none;
}
.home1-text62 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home1-link08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home1-text64 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home1-link09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home1-link10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
@media(max-width: 991px) {
  .home1-hero {
    flex-direction: column;
  }
  .home1-text06 {
    text-align: center;
  }
  .home1-text07 {
    text-align: center;
  }
  .home1-max-width1 {
    flex-direction: column;
  }
  .home1-content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home1-image {
    padding-bottom: 0px;
  }
  .home1-hero-image {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home1-max-width2 {
    flex-direction: column;
  }
  .home1-image1 {
    width: 100%;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home1-hero-image1 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home1-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home1-max-width3 {
    flex-direction: column;
  }
  .home1-max-width4 {
    flex-direction: column;
  }
  .home1-questions {
    width: 60%;
  }
  .home1-image2 {
    margin-right: -100px;
  }
  .home1-max-width5 {
    flex-direction: column;
  }
  .home1-image3 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home1-hero-image2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home1-content2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home1-footer {
    flex-direction: column;
  }
  .home1-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .home1-container06 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .home1-links {
    display: none;
  }
  .home1-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .home1-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home1-content {
    width: 100%;
    margin-right: 0px;
  }
  .home1-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .home1-cards-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .home1-f-a-q {
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home1-questions {
    width: 100%;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home1-image2 {
    width: 100%;
    margin-right: 0px;
  }
  .home1-banner {
    padding: var(--dl-space-space-twounits);
  }
  .home1-hero-image2 {
    height: 600px;
    border-radius: 0px;
  }
  .home1-content2 {
    width: 100%;
    margin-right: 0px;
  }
  .home1-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home1-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home1-container06 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .home1-hero {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home1-btn-group {
    flex-direction: column;
  }
  .home1-navlink5 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .home1-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home1-footer {
    padding: var(--dl-space-space-unit);
  }
  .home1-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .home1-container06 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}
