.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.login-max-width {
  padding-top: 0px;
}
.login-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.login-text01 {
  color: #ffad61ff;
}
.login-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.login-text03 {
  color: #105749ff;
  margin-right: 32px;
  text-decoration: none;
}
.login-navlink {
  color: #105749ff;
  margin-right: 32px;
  text-decoration: none;
}
.login-navlink1 {
  color: #105749ff;
  margin-right: 32px;
  text-decoration: none;
}
.login-navlink2 {
  color: #105749ff;
  margin-right: 32px;
  text-decoration: none;
}
.login-navlink3 {
  text-decoration: none;
}
.login-navlink4 {
  text-decoration: none;
  background-color: #5a99e4;
}
.login-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.login-banner {
  width: 100%;
  height: 786px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 92px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 170px;
  background-size: cover;
  justify-content: space-between;
  background-image: url("../public/playground_assets/cover-1500w.png");
  background-position: center;
}
.login-text04 {
  color: #ffffff;
  font-size: 0.75rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 32px;
  letter-spacing: 2px;
}
.login-text05 {
  text-transform: uppercase;
}
.login-text06 {
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 16px;
}
.login-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  border-color: #0c4237ff;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.login-textinput {
  width: 100%;
  font-size: 0.75rem;
  border-color: #595959;
}
.login-textinput1 {
  width: 100%;
  height: 100%;
  font-size: 0.75rem;
  border-color: #595959;
}
.login-navlink5 {
  color: #ffffff;
  height: 100%;
  font-size: 0.75rem;
  align-self: center;
  transition: 0.3s;
  margin-left: 16px;
  border-color: #5a9934ff;
  text-decoration: none;
  background-color: #000000;
}
.login-navlink5:hover {
  color: #000000;
  background-color: transparent;
}
.login-footer {
  width: 100%;
  display: flex;
  max-width: 1144px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.login-text08 {
  color: #ffad61ff;
}
.login-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.login-link {
  display: contents;
}
.login-icon2 {
  width: 16px;
  height: 16px;
  text-decoration: none;
}
@media(max-width: 767px) {
  .login-links {
    display: none;
  }
  .login-icon {
    fill: #0c4237ff;
  }
  .login-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .login-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .login-text10 {
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media(max-width: 479px) {
  .login-banner {
    padding-top: 48px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 48px;
  }
  .login-container1 {
    align-items: center;
    flex-direction: column;
  }
  .login-navlink5 {
    margin-top: 16px;
    margin-left: 0px;
  }
  .login-footer {
    padding: 16px;
    flex-direction: column;
  }
  .login-text10 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 16px;
  }
}
